@import './variables.scss';

main {
    width: calc(100% - $menu-width);
    float: right;

    section {
        color: $dark-color;
        background-color: $light-gray-color;
    }
}

@media (max-width: $screen-size) {
    main {
        width: 100%;
        transition: all $transition-time;
    }

    .mainDecaler {
        transform: translateX($menu-width);
    }
}