@import './variables.scss';
@import './mixins.scss';

.bcr-contact {
    border-top: 1px solid $dark-light;

    .bcr-contact-form {
        padding-bottom: 25px;
        margin-bottom: 0;

        h1 {
            @include maintitle();
            opacity: 1;
        }

        form {
            width: 100%;
            min-width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            border: 1px solid $dark-light;
            padding: 15px;
            border-radius: 10px;

            * {
                font-size: 1rem;
                color: $dark-color;
            }

            label {
                display: flex;
                justify-content: center;
                align-items: flex-end;

                input:nth-child(even) {
                    margin-left: 20px;
                }
            }
            
            input {
                height: 50px;
                padding: 10px 15px;
                width: 100%;
            }

            input[type="submit"]{
                @include btn-style($white-color, $blue-color);
               &{
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border: none;
               }
            }
            
            textarea {
                height: 10em;
                width: 100%;
                padding: 10px 15px;
                resize: none;
            }

            textarea, input {
                border: 1px solid $dark-light;
                border-radius: 10px
            }

            textarea:focus, input:focus {
                outline:none;
                border-color: $blue-color; 
            }

            
            span.succes {
                color: green;
            }

            span.erreur {
                color: red;
            }
        }
    }
}
@media (max-width: 994px) {
    .bcr-contact {
        .bcr-contact-form {
            form {
                label {
                    align-items: center;
                    flex-direction: column;

                    input:nth-child(even) {
                        margin: 20px 0 0 0;
                    }
                }
            }
        }
    } 
}

@media (max-width: 540px) {
    .bcr-contact {
        .bcr-contact-form {
            width: 100%;
            form {
                min-width: 100%;
            }
        }
    } 
}
