$blue-color: #2b72b5a7;
$light-gray-color: #f2f3f5;
$white-color: #fff;
$dark-color: #45505b;
$dark-light: #4444;

$default-padding: 10px;

$default-opacity: .9;
$light-opacity: .6;

$transition-time: .35s;

$menu-width: 200px;
$body-width: 90%;

$screen-size: 768px;
